/* Paged.js fragmentation rendering on screen */
/* print css that's being rendered on screen */


@page {
  size: 21cm 29.7cm;
  margin: 3mm 3mm 3mm 3mm;

@top-center{
  color: red;
}

}

  @page :left {
      @top-left-corner {

          font-family: 'GapSans';
          font-size: 1.5vw;
          text-align: center;
          color: black;


      }
      @top-left {
          content: element(runningTitle);
          color: black;

      }

      @top-right-corner{
        content: "";


      }
  }


  @page :right {
      @top-right-corner {

          font-family: 'GapSans';
          font-size: 1.5vw;
          text-align: center;
          color: BLACK;

      }

      @top-right {
          content: element(runningTitle);

          color: black;

      }

      @bottom-right {
          content: element(runningTitle);

          color: black;

      }

@top-left-corner{
  content: "";


}


}

/*

@top-left {
  content: element(runningTitle);
}


@top-left-corner {
  content: counter(page);
  font-family: 'GapSans';
  font-size: 1.5vw;
  border: 5px 0px 5px 0px;
}
*/

.running-title {
  position: running(runningTitle);
  font-family: 'GapSansBlack';
  font-size: 0.9vw;
  text-align: center;


}

.fond{

width: 140%;
height: 300%;
}

.fond1{
  filter: url(#blurMe);
  display: inline-block;
  width: 40%;
transform: rotate(-40deg);

}


h2{
  float: right;
  font-family: 'GapSansBlack';
  font-size: 10vw;
  text-align: left;
}

h3{
  font-family: 'GapSansBlack';
  font-size: 1vw;
  text-align: right;
}

p{
  font-size: 1vw;
  color: white;
  background-color: black;
  line-height: .3vw;
}

/* Everything below is related to the styles of the book and the way the pages are shown on the screen */
/* variable used for the book */
:root {
  --background: lightgrey;
  --color-paper: white;
  --color-margin-box: grey;
  --width-margin-box: 0px;
}

body {
  padding: 1em;
}

/* To define how the book look on the screen: */
@media screen {
  body {
    background-color: var(--background);
  }

  .pagedjs_pages {
    display: inline-flex;
    width: calc(var(--width) * 2);
    flex: 0;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .pagedjs_page {
    background: var(--color-paper);
    box-shadow: 0 0 0 var(--width-margin-box) inset var(--color-margin-box);
    margin: 0;
    flex-shrink: 0;
    flex-grow: 0;
    margin-top: 10mm;
  }

  .pagedjs_first_page {
    margin-left: var(--width);
  }

  /* show the margin-box */
  [class*="pagedjs_margin-top"], [class*="pagedjs_margin-right"], [class*="pagedjs_margin-left"], [class*="pagedjs_margin-bottom"] {
    box-shadow: 0 0 0 var(--width-margin-box) inset var(--color-margin-box);
  }
}

body {
  font-family: serif;
}

@font-face {
  font-family: 'Pecita';
  src: url('../font/Pecita.otf') format('opentype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GapSans';
  src: url('../font/GapSans.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: 'GapSansBlack';
  src: url('../font/GapSansBlack.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'GapSansBold';
  src: url('../font/GapSansBold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}
